@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@font-face {
  font-family: 'TNG_Title';
  src: url('../fonts/TNG_Title.ttf') format('truetype');
}

html, body {
  font-family: 'TNG_Title', 'Orbitron', sans-serif !important; 
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}