@{
    ViewData["Title"] = "Users";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<div class="h-100 w-100 d-flex">
    <div class="d-flex flex-row">
        
        <div class="buttons">
	        
            <button onclick="playSoundAndRedirect('audio1', '/Users/Add_User')" class="button-almond-creme">Add User</button>
	        <button onclick="playSoundAndRedirect('audio1', '#')" class="button-magenta">Edit User</button>
            <button onclick="playSoundAndRedirect('audio1', '#')" class="button-tomato">Delete User</button>
        </div>

    </div>
</div>
