name: trekdle_wordle

on:
  push:
    branches:
      - main

jobs:
    build-container:
        runs-on: self-hosted
        steps:
        - uses: actions/checkout@v4
        - name: Build Image (Runs tests automatically)
          run: | 
            whoami
            if [ "$(docker ps -aq -f name=trekdle)" ]; then
                echo "Container exists → stopping and removing..."
                docker stop trekdle || true
                docker rm -f trekdle || true
            else
                echo "Container does NOT exist → continuing..."
            fi
            docker builder prune -a
            docker build -t trekdle .
            docker run -p 8000:8000 -d --name trekdle trekdle

