name: Close_Pull_Request
on: pull_request

jobs:
  close-pr:
    runs-on: ubuntu-latest 
    steps:
      - uses: superbrothers/close-pull-request@v3
        with:
          comment: "This repository does not accept any pull requests"